a.link {
	color: #46311e;
	text-decoration: none;
	font-weight: 500;
}

a.link:hover {
	color: #533a25;
}

a.link:active {
	color: #3f2b1a;
}

.topnav {
	width: 100%;
	overflow-y: hidden;
	top: 0;
	line-height: 0;
	color: rgb(58, 40, 24);
	background-color: rgba(241, 212, 184, .94);
	box-shadow: 0px 0px 10px rgba(20, 20, 20, 0.22);
	/* text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.85); */
	border-bottom: 1px solid rgba(102, 72, 43, 0.18);
}

.topnav.fixed {
	position: fixed;
}

.topnav a {
	text-decoration: none;
}

.topnav .nav-container {
	display: flex;
	align-items: center;
}

.topnav .logo {
	color: rgb(58, 40, 24);
	padding: 1.65rem .75rem;
	font-size: 115%;
	font-weight: 500;
	transition: all 0.17s;
}

.topnav .logo:hover {
	background: rgba(224, 178, 136, 0.3);
}

.topnav .item {
	color: inherit;
	font-weight: 500;
	padding: 1.65rem .75rem;
	transition: all 0.15s;
}

.topnav .item.active {
	background: rgba(231, 188, 148, 0.35);
}

.topnav .item:hover {
	background: rgba(224, 178, 136, 0.32);
}

.navbar-height {
	margin-top: 2.75rem;
}

.navbar-margin {
	margin-top: 4.75rem;
}

.hero {
	background: #97bd81 no-repeat center bottom;
	background-size: cover;
	padding: 8.75rem 0;
	border-bottom: 3px solid #fff;
}

.pfp {
	background: #ccc url("https://bunnbuns.net/Bunni_white-bg-square.png") no-repeat center
		center;
	background-size: cover;
	margin: -6.25rem auto auto auto;
	box-sizing: border-box;
	border-radius: 50%;
	height: 225px;
	max-height: 225px;
	max-width: 225px;
	border: 3px solid #fff;
	box-shadow: 0px 0px 10px rgba(40, 40, 40, 0.28);
}

.title {
	font-size: 2.55rem;
	margin: 1rem 0 1rem 0;
}

.sub {
	font-size: 1.1rem;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.75);
}

.about {
	margin-top: 1.5rem;
	font-size: 1.2rem;
}

.flex-center {
	display: flex;
	align-items: center;
}

.card {
	padding: 1.5rem;
	box-shadow: 0px 0px 8px rgba(40, 40, 40, 0.23);
	border-radius: 5px;
}

.card .left-content {
	text-align: left;
}

.button {
	display: inline-block;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.9);
	cursor: pointer;
	-webkit-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.button .fa {
	display: inline-block;
	vertical-align: middle;
}

.button.primary {
	padding: .6rem 1rem;
	border-radius: 5px;
	font-weight: 500;
	line-height: 1;
	color: #fff;
	background-color: rgb(110, 80, 55);
}

.button.primary:hover {
	background-color: rgb(121, 88, 62);
}

.button.primary:active {
	background-color: rgb(105, 76, 51);
}


.button.block-btn {
	display: block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border-radius: 7px;
	font-size: 1.25rem;
	font-weight: 500;
	box-shadow: 0px 0px 8px rgba(40, 40, 40, 0.15);
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	margin: 0.9rem 0;
}

.button.block-btn .fa {
	font-size: 2.5rem;
}

.button.block-btn:hover {
	box-shadow: 0px 0px 9px rgba(35, 35, 35, 0.23);
	border: 1px solid rgba(0, 0, 0, 0.22);
}

.button.block-btn:active {
	box-shadow: 0px 0px 5px rgba(40, 40, 40, 0.33);
	border: 1px solid rgba(0, 0, 0, 0.24);
}

footer {
	display: block;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.085);
	color: #46311e;
	padding: 2.25rem 0;
	font-size: 1.12rem;
	font-weight: 500;
}