:root {
    /* body */
    --bodyBg: #081a08;
    --bodyColor: #ffffff;
    /* links */
    --linkColor: #379f3d;
    --linkColorHover: #3aaa41;
    --linkColorActive: #2c8d32;
    --linkColorFocus: #2c8d32;
    /* nav */
    --navBg: #165d1a;
    --navColor: #ffffff;
    --navLogoColor: #ffffff;
    --navLinkBorderColor: #2f9635;
    --navLinkBg: rgba(44, 141, 50, 0.35);
    --navLinkBg-Active: #2f9635;
    --navLinkBgHover: rgba(44, 142, 50, 0.35);
    --navLinkBgFocus: rgba(45, 144, 52, 0.5);
    --navLinkColor: #ffffff;
    /* hr */
    --hrBorderColor: rgba(255, 255, 255, 0.25);
    /* scrollbar */
    --scrollbarTrackBg: rgba(59, 103, 61, 0.9);
    --scrollbarThumbBg: rgba(119, 162, 111, 0.85);
    --scrollbarThumbBgHover: rgba(119, 162, 111, 0.85);
    /* button */
    --buttonBg: #2a8e30;
    --buttonColor: #ffffff;
    --buttonBgHover: #349d3a;
    --buttonBgActive: #207c26;
    --buttonBgFocus: #207c26;
    --button-outlineBorderColor: #1c8128;
    --button-outlineBgHover: rgba(31, 136, 44, 0.35);
    --button-outlineBgActive: rgba(31, 136, 44, 0.5);
    --button-outlineBgFocus: rgba(31, 136, 44, 0.5);
    /* loader */
    --loaderBg: #165d1a;
    /* footer */
    --footerBg: #1e7721;
    --footerColor: rgba(255, 255, 255, 0.77);
    --footerLinkColor: rgba(255, 255, 255, 0.77);
    --footerLinkColorHoverFocus: rgba(255, 255, 255, 0.84);
    --footer-copyrightBg: rgba(51, 51, 51, 0.08);
}